<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HappyTechApp.Properties.Settings.HappyTechConstrg"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\HappyTechDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>









<!--"Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\HappyTechDB.mdf;Integrated Security=True"-->


<!--"Data Source=(localdb)\ProjectsV13;AttachDbFilename=C:\Users\HuseyinPC\Desktop\Software Engineering\HappyTechDB.mdf;Integrated Security=True"-->